<a href="https://colab.research.google.com/github/loicpages/qmII_group_rep/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Data cleaning notebook - use to clean/ merge/ rearrange data sets***

*Libraries used:*

In [3]:
import pylab
import pandas as pd
import numpy as math
from google.colab import files
import io
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

*Importing, Encording and Indexing data:*

In [5]:
data_path = '/content/complete_data_set.csv'
general_df = pd.read_csv(data_path, encoding ='latin-1')
general_df.set_index('Country')

                                         Commodity  ...        Amount
Country                                             ...
Algeria                       Total Grains/Cereals  ...   3181.380000
Algeria                       Total Grains/Cereals  ...      0.760260
Algeria                       Total Grains/Cereals  ...   2418.674400
Algeria                              Economic Data  ...     -5.400000
Algeria                              Economic Data  ...  50817.865550
...                                            ...  ...           ...
Peru     Total Grains/Cereals and Root Crops (R&T)  ...   4256.022100
Peru     Total Grains/Cereals and Root Crops (R&T)  ...    199.770754
Peru     Total Grains/Cereals and Root Crops (R&T)  ...   8246.022100
Peru                                         Other  ...   2526.583734
Peru                                         Other  ...    325.289938

[90488 rows x 5 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Let's now create a new *'food_availibility_df'* and Isolate food availibility per capita for each country over *time*

In [ ]:
#Creating an intermediate food availibility data frame to drop out some cathegories#
intermediate_food_availibility_df = general_df[general_df.Commodity == "Total Grains/Cereals and Root Crops (R&T)"]
food_availibility_df = intermediate_food_availibility_df[intermediate_food_availibility_df.Item == 'Food Availability per capita']
food_availibility_df[["Country", "Year", "Commodity", "Item", "Unit", "Amount"]]
food_availibility_df = food_availibility_df.reset_index(drop = True)
food_availibility_df.set_index('Country')

                                         Commodity  ...      Amount
Country                                             ...
Algeria  Total Grains/Cereals and Root Crops (R&T)  ...  206.507152
Algeria  Total Grains/Cereals and Root Crops (R&T)  ...  197.960152
Algeria  Total Grains/Cereals and Root Crops (R&T)  ...  196.535700
Algeria  Total Grains/Cereals and Root Crops (R&T)  ...  196.798051
Algeria  Total Grains/Cereals and Root Crops (R&T)  ...  191.743128
...                                            ...  ...         ...
Peru     Total Grains/Cereals and Root Crops (R&T)  ...  189.090475
Peru     Total Grains/Cereals and Root Crops (R&T)  ...  191.126840
Peru     Total Grains/Cereals and Root Crops (R&T)  ...  193.288913
Peru     Total Grains/Cereals and Root Crops (R&T)  ...  198.678775
Peru     Total Grains/Cereals and Root Crops (R&T)  ...  199.770754

[2360 rows x 5 columns]